In [ ]:
                                             ANSWER 1

In [ ]:
For Loop

In [1]:
l=[1,2,3]
for i in l:
    print (i+1)

2
3
4

In [ ]:
For Loop is Used when you want to perform the certain operation on each value in sequence order. In he above examples, you want to add 1 in each value in sequence order.

In [ ]:
While loop

In [2]:
count=1
while count<5:
    print(count)
    count+=1

1
2
3
4

In [ ]:
While loop is used when you want to perform certain task until the condition Met. In this example, it will repeat to print the number start with number 1 and after iteration till the conditon met i.e 5

In [ ]:
                                                ANSWER 2

In [ ]:
By For loop

In [1]:
sum_count=0
product_count=1
## For counting the sum of 10 natural number
for i in range(1,11):
        sum_count=i+sum_count
print("Sum of Number: ", sum_count)

## For counting the product of 10 natural number
for j in range(1,11):
    product_count=j*product_count
print("Prdouct of 10 natural Number: ", product_count)

Sum of Number:  55
Prdouct of 10 natural Number:  3628800

In [ ]:
By While loop

In [6]:
## sum of first 10 natural number with while loop
sum_count=0
num=1
while num<=10:
    sum_count=sum_count+num
    num=num+1
print("Sum of Number ", sum_count)

Sum of Number  55

In [7]:
## Product of first 10 natural number
product_count=1
num=1
while num<=10:
    product_count*=num
    num=num+1
print("Product of Number ", product_count)

Product of Number  3628800

In [ ]:
                                              ANSWER 3

In [10]:
# Take input from user
units = int(input("Enter the number of units consumed: "))

# Calculate bill amount
if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Your electricity bill for this month is: Rs.", bill)

Enter the number of units consumed:  310

Your electricity bill for this month is: Rs. 2250.0

In [ ]:
                                            ANSWER 4

In [ ]:
By Using For Loop

In [13]:
num= list(range(1,101))
l=[]
## For loop for finding the cube of number in the list
for i in num:
    cube=i**3
    if cube %4 ==0 or cube % 5==0:
        l.append(i)
print("The list of number whose Cube is divisible by 4 or 5: ", l)

The list of number whose Cube is divisible by 4 or 5:  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
By Using While loop

In [15]:
num= list(range(1,101))
l=[]

i=0  ## for index 
while i<len(num):
    cube=num[i]**3
    if cube %4 ==0 or cube % 5==0:
        l.append(num[i])
    i=i+1
print("The list of number whose Cube is divisible by 4 or 5: ", l)

The list of number whose Cube is divisible by 4 or 5:  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
                                                    ANSWER 5

In [17]:
string=input("Enter the String: ")
vowels="aeiouAEIOU"
count=0
for i in string:
    for j in vowels:
        if i==j:
            count+=1
print("The total number of vowels is: ",count)

Enter the String:  I want to become a data scientist

The total number of vowels is:  12